<div class="user-profile">
    <h2 class="text-primary">Perfil del Usuario</h2>
  
    <div class="profile-section ">
      <h3 class="text-primary">Datos Básicos</h3>
      <p class="text-white"><strong>Nombre:</strong> {{ dataProfile.nombre }}</p>
      <p class="text-white"><strong>Apellido:</strong> {{ dataProfile.apellido }}</p>
      <p class="text-white"><strong>Correo:</strong> {{ dataProfile.correo }}</p>
      <p class="text-white"><strong>Teléfono:</strong> {{ dataProfile.telefono }}</p>
    </div>
  </div>
  
