<div class="d-flex">
    <!-- Sidebar Izquierdo -->
    <div class="sidebar p-4 ">
      <h4 class="mb-4">Filtros</h4>
      <form >
        <div class="mb-3">
          <label for="fecha" class="form-label">Fecha</label>
          <input type="date" class="form-control" id="fecha"  name="fecha">
        </div>
        <div class="mb-3">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="ciudad"  name="ciudad">
        </div>
        <div class="mb-3">
          <label for="tipo" class="form-label">Tipo de Publicación</label>
          <select class="form-select" id="tipo"  name="tipo">
            <option value="evento">Evento</option>
            <option value="anuncio">Anuncio</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3">Filtrar</button>
      </form>
    </div>
  
    <!-- Contenido Principal -->
    <div class="content flex-grow-1 p-4">

    </div>
  </div>
  