.container {
    max-width: 600px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-weight: bold;
    color: #495057;
  }
  
  .form-control {
    border-radius: 4px;
  }
  
  .btn-primary {
    background-color: #03038d;
    border-color: none;
    border-radius: 30px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }

  .text-crearCuenta{
    color: #03038d;
    text-align: center;
  }